@import "mixins.scss";

body {
  font-size:  14px;
  line-height: 24px;
  font-family: 'Open Sans', 'Arial', sans-serif;
  color: $light-blue;
  font-style: normal;
  background: $white;
}

img {
  max-width: 100%;
  height: auto;
}

button {
  border: none;
  outline: none;
  text-decoration: none;
}

h1, h2, h3,
h4, h5, h6 {
  margin: 0;
  padding: 0;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

p, figure {
  margin: 0;
  padding: 0;
}

blockquote {
  margin: 0;
}

.visually-hidden {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;

  border: 0;

  clip: rect(0 0 0 0);
  overflow: hidden;
}

.block-wrapper {
  @include container;
}
