$bg-white: #ffffff;
$bg-grey: #f2f2f2;
$dark-grey: #bec2c7;
$dark-grey-hover: #7e868f;
$bg-light-blue:#283645;
$bg-dark-blue:#1d2631;
$white: #ffffff;
$black: #000000;
$light-blue: #283645;
$pink: #d22856;
$green: #2aab6d;
$green-hover: #1c9b5e;
$border-grey:#e5e5e5;

$canel-border-hover: #b5b9be;
$cancel-text-hover: #c4c6c8;

$icon-hover: #b5b9be;
$icon: #8d949b;

$tablet: (min-width: 640px);
$desktop: (min-width: 960px);
$mobile-only: (max-width: 639px);
$retina: (min-resolution: 144dpi), (min-resolution: 1.5dppx);
