.british-fact {
  position: relative;
  padding: 58px 20px 44px;
  background: $white;

  @media #{$mobile-only} {
    display: none;
  }

  @media #{$tablet} {
    display: flex;
  }

  @media #{$desktop} {
    background: $bg-grey;
    padding: 65px 10px 64px;
  }
}

.british-fact__wrapper {
  display: flex;
  justify-content: flex-end;
  background: url(../img/research-bgr.svg) no-repeat;
  background-size: 241px 96%;
  width: 100%;

  @media #{$desktop} {
    background: url(../img/research-bgr.svg) 3px -44px no-repeat;
    background-size: 295px 125%;
  }
}

.british-fact__wrapper.block-wrapper {
    padding: 0 14px;
}

.british-fact-content {
  padding: 38px 0px;
  width: 50%;

  @media #{$desktop} {
    padding: 95px 0px 50px;
    width: 62%;
    padding-left: 6px;
    padding-right: 6px;
    box-sizing: border-box;
  }
}

.british-fact-header {
  font-size: 30px;
  line-height: 36px;
  margin-bottom: 9px;
  padding-right: 128px;

  @media #{$desktop} {
    line-height: 30px;
    margin-bottom: 24px;
  }
}

.british-fact-text {
  font-size: 14px;
  line-height: 24px;
  margin-bottom: 11px;

  @media #{$desktop} {
    font-size: 18px;
    line-height: 30px;
    margin-bottom: 34px;
  }
}

.british-fact-link {
  color: $pink;

  @media #{$desktop} {
      font-size: 18px;
  }
}
