.features {
  text-align: center;
  background: $bg-grey url("../img/bg-triangle-white.svg") no-repeat center 0%;
  background-size: 105%;
  box-sizing: border-box;
}

.features__wrapper {
  display: flex;
  flex-direction: column;
  padding: 92px 0px 0px;
  position: relative;

  @media #{$tablet} {
    flex-direction: row-reverse;
    justify-content: space-between;
    padding: 0px 15px 0px;
  }

  @media #{$desktop} {
    flex-direction: column;
    padding: 0px;
  }
}

.features__items {
  display: flex;
  flex-direction: column;
  color: $black;
  box-sizing: border-box;

  @media #{$tablet} {
  padding-top: 82px;
  width: 50%;
  }

  @media #{$desktop} {
    flex-direction: row;
    order: 2;
    justify-content: space-between;
    padding: 0 3%;
    width: auto;
  }
}

.features__item {
  margin: auto;
  margin-bottom: 39px;

  p {
    font-size: 14px;
    line-height: 24px;

    @media #{$desktop} {
        font-size: 18px;
        line-height: 29px;
    }
  }

  @media #{$tablet} {
    text-align: left;
    padding: 0px;
    margin-bottom: 43px;
  }

  @media #{$desktop} {
    text-align: center;
    margin: 0;
    width: 28%;
  }

  &:last-child .features-item__tittle {
    @media #{$desktop} {
        padding: 0 3px;
    }
  }
}

.features-item__tittle {
  font-size: 18px;
  line-height: 10px;
  margin-bottom: 18px;

  @media #{$desktop} {
    font-size: 30px;
    line-height: 30px;
    margin-bottom: 28px;
  }
}

.features__images {
  display: flex;
  position: relative;
  padding-bottom: 279px;


  @media #{$tablet} {
    width: 50%;
  }

  @media #{$desktop} {
    width: 100%;
    justify-content: space-around;
    margin: 0 auto;
    padding-bottom: 46px;
  }
}

.features__image {
  display: inline-block;
  vertical-align: top;
  margin: 0 auto;
  width: 157px;
  height: auto;
  position: absolute;
  top: 2px;
  left: 0;
  right: 0;
  margin: 0 auto;


  @media #{$tablet} {
    width: 277px;
    top: 5px;
    margin: 0px;
  }

  @media #{$desktop} {
    width: 294px;
    position: relative;
    top: 0;
  }
}

.features__image:not(:last-of-type) {
  display: none;

  @media #{$desktop} {
    display: inline-block;
  }
}
