.head-rule__content {
  font-size: 14px;
  line-height: 30px;
  color: $light-blue;
  text-align: center;
  padding: 45px 0 10px;
  box-sizing: border-box;
  @media #{$tablet} {
    width: auto;
    font-size: 18px;
    padding: 93px 60px 44px;
    order: 1;
  }
  @media #{$desktop} {
    padding: 93px 90px 80px;
  }
}

.head-rule__ask {
  display: none;
  @media #{$tablet} {
    display: inline;
  }
}
