.map {
  position: relative;
  height: 195px;

  @media #{$tablet} {
    height: 380px;
  }

  @media #{$desktop} {
    height: 520px;
  }

  &:before {
    display: block;
    content: "";
    position: absolute;
    z-index: 1;
    width: 100%;
    border-right: 50vw solid transparent;
    border-top: 35px solid $white;
    border-left: 50vw solid transparent;
    box-sizing: border-box;
    top: -1px;

    @media #{$tablet} {
      border-top-width: 75px;
    }

    @media #{$desktop} {
      border-top-width: 125px;
    }
  }

}
