.reviews {
  position: relative;
  background: $white;
  padding: 0px 5%;
  padding-bottom: 30px;
  text-align: center;

  @media #{$tablet} {
    padding-bottom: 6px;
  }

  @media #{$desktop} {
    padding: 186px 0 28px;
    background: url(../img/icon-quotes.svg) center 21% no-repeat;
  }
}

.reviews__slides {
  list-style: none;
  margin: 0;
  padding: 0;
  padding: 43px 0 33px;

  @media #{$tablet} {
    padding: 43px 0 23px;
  }

  @media #{$desktop} {
    padding: 0;
  }
}

.reviews__wrapper {
    position: relative;
}

.reviews__slide {
  margin: auto;
}

.reviews-slide__wrapper {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.reviews-slide__auhor-name {
  color: $black;
  font-size: 18px;
  line-height: 30px;
  font-weight: bold;
  margin-bottom: 12px;
  font-style: normal;

  @media #{$tablet} {
    order: 2;
    div {
        font-size: 20px;
    }
  }
  @media #{$desktop} {
    div {
        font-size: 24px;
    }
  }
}

.reviews-slide__info {
  font-size: 14px;
  line-height: 30px;
  font-weight: normal;
  display: none;

  @media #{$tablet} {
    display: block;
  }
  @media #{$desktop} {
    font-size: 18px;
  }
}

.reviews-slide__text {
  color: $light-blue;
  font-size: 14px;
  line-height: 30px;

  @media #{$tablet} {
    order: 1;
    font-size: 18px;
    margin-bottom: 35px;
    padding: 0px;
  }

  @media #{$desktop} {
    padding: 0px 13%;
  }
}

.reviews__controls {
  @media #{$desktop} {
    display: none;
  }
}

.reviews__shift {
  display: none;
  position: absolute;
  top: 16%;
  width: 30px;
  height: 30px;
  border: 2px solid #bec2c7;
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
  cursor: pointer;

  &:hover {
      border-color: $dark-grey-hover;
  }

  &:focus {
      border-color: rgba(126,134,143,0.3);
  }

  @media #{$desktop} {
    display: block
  }

  &--left {
    left: 6px;
    border-top: none;
    border-right: none;
  }

  &--right {
    right: 6px;
    border-bottom: none;
    border-left: none;
  }
}
